

        <main>
            <h1>Inventory Management</h1>
            <% if (message) { %>
                <div class="flash-message">
                    <%= message %>
                </div>
                <% } %>

                    <div class="management-links">
                        <a href="/inv/add-classification" class="btn">Add New Classification</a>
                        <a href="/inv/add-inventory" class="btn">Add New Inventory</a>
                    </div>
        </main>

